.button-click-3{
    font-size: 16px;
    width: 100px;
    padding: 12px;
    border-radius: 12px;
    background-color: #FFF6E9;
    box-shadow: 2px 2px 2px 2px;
    z-index: 1;
    position: absolute;
    top: 450px;
    left: 190px;
}